name: Build and deploy pia-brreg-oppdaterer
on:
  push:
    branches:
      - main

permissions: {}

jobs:
  build:
    permissions:
      packages: write
      contents: write
      id-token: write
    name: Bygg og push docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle
      - uses: gradle/actions/setup-gradle@v4
        with:
          dependency-graph: generate-and-submit
      - name: Compile, run tests and build
        run: ./gradlew build
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image til GCR
        uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: pia
    outputs:
      image: ${{ steps.docker-push.outputs.image }}

  deployTopics:
    strategy:
      matrix:
        cluster: [dev, prod]
    permissions:
      id-token: write
    name: Deploy topics to ${{ matrix.cluster }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Deploy topics to ${{ matrix.cluster }}-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ matrix.cluster }}-gcp
          RESOURCE: .nais/topics/topic-brreg-oppdatering.yaml,.nais/topics/topic-brreg-alle-virksomheter.yaml
          VARS: .nais/${{ matrix.cluster }}.yaml

  deployJob:
    strategy:
      matrix:
        cluster: [dev, prod]
    permissions:
      id-token: write
    name: Deploy NaisJob til NAIS ${{ matrix.cluster }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          IMAGE: ${{ needs.build.outputs.image }}
          CLUSTER: ${{ matrix.cluster }}-gcp
          RESOURCE: .nais/deploy.yaml
          VARS: .nais/${{ matrix.cluster }}.yaml

  trivy-scan:
    name: Scanner docker image med Trivy
    if: github.ref == 'refs/heads/main'
    needs: build
    permissions:
      contents: read # to write sarif
      security-events: write # push sarif to github security
      id-token: write # for nais/login
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/pia-actions/trivy-scan@v1 # https://github.com/navikt/pia-actions/tree/main/trivy-scan
        with:
          image: ${{ needs.build.outputs.image }}
          team: pia

  deploy-engangsjob:
    strategy:
      matrix:
        cluster: [prod]
    permissions:
      id-token: write
    name: Deploy av alle virksomheter import
    if: github.ref == 'refs/heads/engangsjobb'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          IMAGE: ${{ needs.build.outputs.image }}
          CLUSTER: ${{ matrix.cluster }}-gcp
          RESOURCE: .nais/brreg_alle_virksomheter.yaml
          VARS: .nais/${{ matrix.cluster }}.yaml
